<nav>
	<ul>
		<li><%= link_to "Voltar", root_path %></li>
	</ul>
</nav>

<h2 class="page-title">Novo Post</h2>

<%= form_for @post, html:{class:'post-container'} do |p| %>
	<%= p.label :title, class:'form-label' %>
	<%= p.text_field :title, class:'form-text-field' %>

	<%= p.label :message, class:'form-label' %>
	<%= p.text_area :message, class:'form-text-area' %>

	<%= p.submit 'Criar', class:'btn' %>
<% end %>